@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-6">
        <h1>Cadastro de Paginas</h1>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <a class="btn btn-danger" href="/Paginas">Novo Cadastro</a>
        </div>
        <div class="jumbotron">
            <a class="btn btn-danger" href="/Cep/CepIndex">Veja seu CEP</a>
        </div>
    </div>
</div>